<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdv.gridSystemMobile.mapper.gridMapper" >
  <resultMap id="MetadataDictResultMap" type="com.bjdv.gridSystemMobile.pojo.SysMetadataDict" >
    <id column="MET_ID" property="metId" jdbcType="DECIMAL" />
    <result column="STAFF_ID" property="staffId" jdbcType="DECIMAL" />
    <result column="REGION_ID" property="regionId" jdbcType="DECIMAL" />
    <result column="CONTEXT" property="context" jdbcType="VARCHAR" />
    <result column="LEMMA" property="lemma" jdbcType="VARCHAR" />
    <result column="MEANINGS" property="meanings" jdbcType="VARCHAR" />
    <result column="DISPORDER" property="disporder" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="CHAR" />
    <result column="STATE_DATE" property="stateDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STANDBY1" property="standby1" jdbcType="VARCHAR" />
    <result column="STANDBY2" property="standby2" jdbcType="VARCHAR" />
    <result column="STANDBY3" property="standby3" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
  </resultMap>
  <select id="getMetadataList" resultMap="MetadataDictResultMap" parameterType="java.lang.String" >
    select *
    from SYS_METADATA_DICT
    where state = 'Y' 
    	and CONTEXT=#{_parameter} 
    order by disporder,lemma
  </select>
</mapper>